:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-logo-color: #000000;
  --bottom-text-color: rgba(255, 255, 255, 0.6);
  --primary-white-color: #ffffff;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --header-border-color: #ececec;
  --box-shadow-color: rgba(0, 0, 0, 0.15);
  --border-example-color: #eeeeee;
  --gra: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  --icon-fill-color: #afb1b8;
  --footer-icon-color: rgba(255, 255, 255, 0.1);
  --transparent-accent-color: rgba(33, 150, 243, 0.9);
  --bg-backdrop: rgba(47, 48, 58, 0.4);
  --placeholder-color:rgba(117, 117, 117, 0.5);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  border-bottom: 1px solid var(--header-border-color);
}

.header__container {
  display: flex;
}

.logo {
  color: var(--accent-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo .header-logo {
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-logo-color);
  text-decoration: none;
}

.logo .footer-logo {
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-white-color);
  text-decoration: none;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav.list {
  list-style-type: none;
  display: flex;
  gap: 50px;
  margin-left: 93px;
}

.nav__link {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding: 32px 0px;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.nav__link.current {
  color: var(--accent-color);
}
.nav__link.current::after {
  content: "";
  position: absolute;
  display: block;
  height: 4px;
  width: 109%;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
  background-color: var(--accent-color);
}

.head-contacts {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 30px;
  letter-spacing: 0.02em;
}

.head-contacts__link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  align-items: center;
  gap: 10px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.head-contacts__link:hover, .head-contacts__link:focus {
  color: var(--accent-color);
}

.head-contacts__icon {
  fill: currentColor;
}

.hero {
  color: var(--primary-white-color);
  background-color: var(--footer-background-color);
  background-image: var(--gra), url(../images/hero-bg-mob.jpg);
  padding-top: 118px;
  padding-bottom: 118px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: var(--gra), url(../images/hero-bg-tab.jpg);
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: var(--gra), url(../images/hero-backgr-img.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  margin: 0 auto 30px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

.hero__button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  min-width: 216px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px var(--box-shadow-color);
  margin: 0 auto;
  padding: 10px 24px;
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 10px 32px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section .title {
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .section .title {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .section .title {
    text-align: start;
  }
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
  }
}

.quality-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.quality-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.quality-list__items {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .quality-list__items {
    width: calc(50% - 15px);
  }
}
@media screen and (min-width: 1200px) {
  .quality-list__items {
    width: calc((100% - 90px) / 4);
  }
}

.quality-list__img {
  max-width: 100%;
  height: 120px;
  background: var(--secondary-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quality-list__text {
  font-size: 14px;
  line-height: 1.71;
  font-size: 14px;
  line-height: 1.71;
}

.section.services {
  padding-top: 0;
}

.services-list {
  list-style-type: none;
  display: flex;
  gap: 30px;
}

.services-list__item {
  position: relative;
}

.services-list__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 27px;
  padding-bottom: 27px;
}

.team {
  background-color: var(--secondary-background-color);
}

.team-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.team-list .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
@media screen and (min-width: 768px) {
  .team-list .title {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .team-list .title {
    text-align: center;
  }
}

.team-list__items {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-background-color);
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team-list__items {
    width: calc(50% - 15px);
  }
}
@media screen and (min-width: 1200px) {
  .team-list__items {
    width: calc((100% - 90px) / 4);
  }
}

.team-list__photo {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.team-list__description {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team-list__description {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.team-list__text {
  line-height: 1.19;
  margin-bottom: 16px;
}

.soc-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.soc-list__item {
  width: 44px;
  height: 44px;
}

.soc-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-list__link:hover, .soc-list__link:focus {
  background-color: var(--accent-color);
}

.soc-list__icon {
  fill: var(--icon-fill-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-list__link:hover .soc-list__icon, .soc-list__link:focus .soc-list__icon {
  fill: var(--primary-white-color);
}

.clients-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.clients-list__item {
  width: calc(50% - 15px);
  height: 92px;
}
@media screen and (min-width: 768px) {
  .clients-list__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__item {
    max-width: calc((100% - 150px) / 6);
  }
}

.clients-list__link {
  width: 100%;
  height: 100%;
  display: flex;
  border: 1px solid var(--icon-fill-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover, .clients-list__link:focus {
  border-color: var(--accent-color);
}

.clients-list__icon {
  fill: var(--icon-fill-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover .clients-list__icon, .clients-list__link:focus .clients-list__icon {
  fill: var(--accent-color);
}

.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.container.footer {
  display: flex;
  padding: 0 15px;
  align-items: baseline;
}

.contacts-address {
  margin-top: 20px;
}

.bottom-contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.bottom-contacts-list {
  list-style-type: none;
}
.bottom-contacts-list .address {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: var(--primary-white-color);
  text-decoration: none;
}
.bottom-contacts-list .item-bottom {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: var(--bottom-text-color);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.bottom-contacts-list .item-bottom:hover, .bottom-contacts-list .item-bottom:focus {
  color: var(--accent-color);
}

.follow {
  margin-left: 70px;
}
.follow .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.follow-list {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

.follow-item {
  width: 44px;
  height: 44px;
}

.follow-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--footer-icon-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.follow-link:hover, .follow-link:focus {
  background-color: var(--accent-color);
}

.follow-icon {
  fill: var(--primary-white-color);
}

.filter {
  list-style-type: none;
  margin-bottom: 50px;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.filter .buttons {
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
  min-width: 73px;
  display: block;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  border: transparent;
  border-radius: 4px;
  padding: 6px 25px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter .buttons:hover,
.filter .buttons:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.example-list {
  list-style-type: none;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.example-list .link {
  text-decoration: none;
}

.example-cards {
  background-color: var(--primary-background-color);
  transition-property: box-shadow, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.example-cards:hover, .example-cards:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example-cards:hover .example-description {
  transform: translateY(0);
}

.example-wrap {
  position: relative;
  overflow: hidden;
}

.example-description {
  font-size: 18px;
  line-height: 1.5555555556;
  color: var(--primary-white-color);
  background-color: var(--transparent-accent-color);
  padding: 63px 24px;
  height: 100%;
  position: absolute;
  top: 0;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.example-text {
  padding: 20px 24px;
  border: 1px solid var(--border-example-color);
  border-top: none;
}

.example-list .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.example-list .paragraph {
  font-size: 16px;
  line-height: 1.875;
  color: var(--primary-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-backdrop);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--primary-background-color);
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(1);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleX(0);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover .button-icon {
  fill: var(--accent-color);
}

.button-icon {
  fill: #000000;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 12px;
}

.modal-field {
  margin-bottom: 10px;
}
.modal-field.comment {
  margin: 20px 0 0;
}

.input-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  display: flex;
  margin-bottom: 4px;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: var(--accent-color);
}
.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  margin: 0;
  outline: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input-message::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}
.input-message:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}
.input-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}
.input-message:focus {
  border-color: var(--accent-color);
}

.check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
}
.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.privacy-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  color: var(--accent-color);
  margin-left: 3px;
}

.modal-check:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
  fill: var(--primary-white-color);
}

.modal-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  display: flex;
  min-width: 200px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px 52px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover {
  background-color: #188CE8;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.subscribe {
  margin-left: 93px;
}

.subscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.subscribe-form {
  position: relative;
  display: flex;
  justify-content: center;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  padding-left: 16px;
  color: var(--primary-white-color);
}
.subscribe-input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  min-width: 200px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 12px;
  padding: 10px 62px 10px 28px;
}

.subscribe-icon {
  fill: var(--primary-white-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 28px;
}/*# sourceMappingURL=main.css.map */