@import'./utils/variables';
@import'./utils/mixins';
@import'./utils/reset';
@import'./utils/hide';
@import'./components/page';
@import'./components/container';
@import'./components/header';
@import'./components/logo';
@import'./components/nav';
@import'./components/head-contacts';
@import'./components/menu';
@import'./components/hero';
@import'./components/section';
@import'./components/qualities';
@import'./components/services';
@import'./components/team';
@import'./components/team-soc';
@import'./components/clients';
@import'./components/footer';
@import'./components/foot-contacts';
@import'./components/follow';
@import'./components/filter';
@import'./components/examples';
@import'./components/modal';
@import'./components/subscribe';

