.follow { 
  @include desktop{
    margin-left: 70px;
    }
    & .title {
      @include font(700, 14px, calc(16 / 14));
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--primary-white-color);
      margin-bottom:20px;
      text-align: center;
      @include desktop{
        text-align: start;
      }
    }
  }

  .follow-list {
    display: flex;
    list-style-type: none;
    gap: 10px;
  }
  .follow-item {
    width: 44px;
    height: 44px;
  }
  .follow-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--footer-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
  
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    background-color: var(--accent-color);
  }
  }
  .follow-icon {
    fill: var(--primary-white-color);
  }
  