.footer {
    background-color: var(--footer-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .container.footer {
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    gap:60px;
    width:100%;

    padding: 0 15px;
    align-items: center;
    @include tablet{
    align-items: baseline;
    flex-direction: row;
    justify-content:space-evenly;
    }
    @include desktop{
      justify-content: start;
      flex-wrap: nowrap;
      gap:0;
    }
    
    

  }
  .contacts-address{
    margin-top: 20px;
  }
  