.head-contacts {
  list-style-type: none;
  display: flex;
  align-items: center;

  margin-left: auto;
  gap: 30px;
  @include tablet{
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  }
  @include desktop{
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
}
.head-contacts__link {
  display:none;
  @include tablet{
    display: flex;
    gap:8px;
  }
  @include desktop{
    @include font(500, 14px, 1.14);
    display: flex;
    gap: 10px;
  }
  @include font(500, 12px, calc(14 / 12));
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
  color: var(--accent-color);
}
}
  .head-contacts__icon {
    fill: currentColor;
  }