.logo {
    color: var(--accent-color);
    text-decoration: none;
  
    font-family: Raleway, sans-serif;
    @include font(700, 24px, calc(28 / 24));

    @include desktop{
      @include font(700, 26px, 1.19);
    }
    

  }
  .logo .header-logo {

    @include font(700, 24px, calc(28 / 24));
    color: var(--primary-logo-color);
    text-decoration: none;
    @include desktop{
      @include font(700, 26px, 1.19);
    }
  }
  .logo .footer-logo {
    @include font(700, 24px, calc(28 / 24));
    color: var(--primary-white-color);
    text-decoration: none;
    @include desktop{
    @include font(700, 26px, 1.19);
    }
  }


  
