.nav-container {
  display: flex;
  align-items: center;
}
.nav.list{
    list-style-type: none;
    display: flex;
    gap: 50px;
    margin-left: 93px;
  }
  .nav__link {
    color: var(--title-text-color);
    text-decoration: none;
    @include font(500, 14px, 1.14);
    letter-spacing: 0.02em;
  
    display: block;
    padding: 32px 0px;
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    color: var(--accent-color);
  }
  }
  
  .nav__link.current {
    color: var(--accent-color);
    &::after {
      content: '';
      position: absolute;
      display: block;
      height: 4px;
      width: 109%;
      bottom: -1px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 2px;
      background-color: var(--accent-color);
    }
  }
 