.section {
    padding-top: 60px;
    padding-bottom: 60px;
    @include desktop {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }
  .section .title {
    margin-bottom: 10px;
    text-align: center;
    @include tablet {
      text-align: start;
    }
    @include desktop{
      text-align: start;
    }
  }
  .section-title {
    @include font(700, 28px, calc(33 / 28));
    font-style: normal;
    color:var(--title-text-color);
    text-align: center;
    margin-bottom: 30px;
    @include desktop {
    margin-bottom: 50px;
    @include font(700, 36px, 1.17);
    }
  }