.section.services {
    padding-top: 0;
    display:none;
    @include desktop{
      display:flex;
    }
  }
  .services-list {
    list-style-type: none;
    display: flex;
    gap: 30px;
  }
  .services-list__item {
    position: relative;
  }
  .services-list__text {
    @include font(700, 14px, calc(16 / 14));
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-white-color);
    background-color: rgba(47, 48, 58, 0.8);
  
    position: absolute;
    bottom: 0;
    width: 100%;
    display:flex;
    justify-content: center;
    padding-top: 27px;
    padding-bottom: 27px;
  }