  .subscribe {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    @include desktop{
    margin-left: 93px;
    display:block;
    }
  }
  .subscribe-title{
  @include font(700, 14px, calc(16 / 14));
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
  }
  .subscribe-form {
    position: relative;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    width:100%;
    @include tablet{
      flex-direction: column;
      align-items: center;
    }
    @include desktop{
      flex-direction:row;
      flex-wrap: nowrap;
      justify-content: center;
    }

    
  }
  .subscribe-input{
    width:100%;
    @include tablet{
      width:450px;
    }
    @include desktop{
    width: 358px;
    }
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    outline:none;
    padding-left: 16px;
    color:var(--primary-white-color);
    &::placeholder {
      @include font(400, 16px, calc(20 / 16));

      display: flex;
      align-items: center;
      color: rgba(255, 255, 255, 0.6);
      }
  }
  
  .subscribe-button {
  height: 50px;
  @include font(700, 16px, calc(30 / 16));
  letter-spacing: 0.06em;
  
  color:var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color:transparent;
  position:relative;
  
  max-width:200px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top:20px;
  padding:10px 62px 10px 28px;
  @include desktop{
    margin-left: 12px;
    margin-top:0;
  }
  }
  .subscribe-icon{
    fill:var(--primary-white-color);
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    right:28px;
  }