:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-logo-color: #000000;
    --bottom-text-color: rgba(255, 255, 255, 0.6);
    --primary-white-color: #ffffff;
    --primary-background-color: #ffffff;
    --secondary-background-color: #f5f4fa;
    --footer-background-color: #2f303a;
    --header-border-color: #ececec;
    --box-shadow-color: rgba(0, 0, 0, 0.15);
    --border-example-color: #eeeeee;
    --gra: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    --icon-fill-color: #afb1b8;
    --footer-icon-color: rgba(255, 255, 255, 0.1);
    --transparent-accent-color: rgba(33, 150, 243, 0.9);
    --bg-backdrop: rgba(47, 48, 58, 0.4);
    --placeholder-color:rgba(117, 117, 117, 0.5);
  }